//Fonts
$fPrincipal: 'Montserrat',
sans-serif;
$fm-300: 300;
$fm-400: 400;
$fm-700: 700;
$fm-900: 900;
//Colors
$colorA: #140F07;
$colorB: #102F51;
$colorC: #0972B5;
$colorD: #08BFFF;
$colorE: #0FFFF8;
$colorF: #FFFFFF;
//Size
$tablet: 768px;
$phone: 480px;
//Separations
$small: 3rem;
$medium: 5rem;
$big: 7rem;
//Shadow
$shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);